{% macro displayPitchList(pitch_list) %} {% for pitch in pitch_list %}
<div class="col-xs-6 col-sm-6 col-md-6">
  <div class="card m-2">
    <div class="card-header">
      Category - {{pitch.category}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{pitch.title}}</h5>
      <p class="card-text">{{pitch.body}}</p>
      <hr>
      <p>Add a comment <a href="/comment/{{pitch.id}}">here</a>.</p>
      <p class="card-text"><small class="text-muted">{{pitch.author}}</small></p>
      <form methods='POST' action="/update">
        <a href="#" id="pitch{{pitch.id}}" class="btn btn-primary btn-lg" btn_id="{{(pitch.id)}}"><i class="far fa-hand-point-up mr-2"></i>{{pitch.upvotes}}</a>
        <a href="#" id="pitch{{pitch.id}}" class="btn btn-primary btn-lg"btn_id="{{(pitch.id)}}"><i class="far fa-hand-point-down mr-2"></i>{{pitch.downvotes}}</a>
      </form>
    </div>
  </div>
</div>
{% endfor %} {% endmacro %}
